html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

html, body
	width: 100%
	height: 100%

body
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif
	font-size: 100%
	line-height: 1.6em
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility
	background: base07
	color: base00
