{% extends '_skeletons/default.njk' %}

{% block content %}
	<span class="hide" id="post-id">{{ post._id }}</span>
	<div class="post-wrapper">
		{% if newPost %}
			<textarea></textarea>
			<div class="post-content"></div>
		{% else %}
			<textarea class="hide">{{ post.content.md }}</textarea>
			<div class="post-content">{{ post.content.html }}</div>
		{% endif %}
	</div>
{% endblock %}

{% block customScripts %}
	{% if user === post.author or newPost %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" integrity="sha256-mJAzKDq6kSoKqZKnA6UNLtPaIj8zT2mFnWu/GSouhgQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
		<script src="/post.js" type="text/javascript"></script>
	{% endif %}
{% endblock %}
