{% extends '_skeletons/default.njk' %}

{% block content %}
	<span class="hide" id="post-id">{{ post._id }}</span>
	<div class="post-wrapper">
		{% if newPost %}
			<textarea></textarea>
			<div class="post-content"></div>
		{% else %}
			<textarea class="hide">{{ post.content }}</textarea>
			<div class="post-content"></div>
		{% endif %}
	</div>
{% endblock %}

{% block customScripts %}
	<script src="/post.js" type="text/javascript"></script>
{% endblock %}
