<header>
	<div class="authentication">
		{% if user %}
			<a href="/user/logout">Logout</a>
			<a href="/user/admin">Admin</a>
		{% else %}
			<a href="/user/login">Login</a>
			<a href="/user/register">Register</a>
		{% endif %}
	</div>
	<span class="site-title">
		<a href="/">{{ site.title }}</a>
	</span>
	{% if user %}
		{% if newPost %}
			<span class="saveButton">Save</span>
			<span class="cancelButton">Cancel</span>
		{% elif post %}
			<a href="/post/new" class="newButton">New Post</a>
			{% if user === post.author %}
				<span class="editButton">Edit</span>
				<span class="saveButton hide">Save</span>
				<span class="cancelButton hide">Cancel</span>
				<span class="deleteButton">Delete</span>
			{% endif %}
		{% else %}
			<a href="/post/new" class="newButton">New Post</a>
		{% endif %}
	{% endif %}
</header>
