header
	background: base00
	color: base07
	width: 100%
	height: header-height
	line-height: header-height
	display: flex
	justify-content: space-between
	span, a
		margin: 0 .5rem
	span.site-title
		flex-grow: 1
		text-align: center
	span:hover
			text-decoration: underline
			cursor: pointer
