div.post-wrapper
	height: 100% - header-height
	display: flex
	justify-content: center
	textarea, div.post-content
		height: 100%
		flex-basis: 50%
		vertical-align: middle
		padding: 1rem
	textarea
		border: none
		overflow: auto
		resize: none
		background: base01
		color: base07
		font-family: monospace
		font-size: 120%
